<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" timeReference="contextBirth"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/scl.log</file>
        <encoder>
            <pattern>%logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/scl.%d{yyyy-MM-dd}.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxHistory>7</maxHistory>
                <totalSizeCap>50MB</totalSizeCap>
                <maxFileSize>2MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework" level="WARN">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.web" level="WARN">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.security" level="WARN">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
    </root>
</configuration>